@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Berkshire+Swash&familbarray=Castoro&family=Courgette&family=Dancing+Script&family=Merriweather:wght@900&family=Poppins:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Berkshire+Swash&family=Castoro&family=Courgette&family=Dancing+Script&family=Ibarra+Real+Nova:ital,wght@1,700&family=Merriweather:wght@900&family=Poppins:ital@0;1&display=swap");
html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.prop__parrafo, h1, .header_uno__animacion-video__parrafo, .header_uno__animacion-video__parrafo_dos {
  font-weight: bold;
  color: white; }

h2 {
  font: bold 180% "Aclonica", sans-serif;
  justify-content: space-around;
  font-weight: bold;
  text-align: center;
  background-color: #9492ec;
  height: 180%;
  line-height: 180%;
  border-bottom: 2px dashed red; }

h1 {
  font: bold 600% "Ibarra Real Nova", serif;
  align-items: center;
  padding-left: 30px; }

.pie {
  background-color: black;
  color: white;
  font-size: 95%;
  text-align: center;
  height: 300%;
  width: 100%;
  line-height: 200%;
  padding: 2% 15% 2% 15%; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #08011a; }

.header {
  border-bottom: 1px solid #180352; }

.moto_mia {
  display: flex;
  align-items: baseline; }
  .moto_mia img {
    border-radius: 10%;
    width: 8%;
    height: 8%;
    margin-left: 5%;
    margin-top: 3%;
    border-style: inset;
    align-items: baseline; }

.header_uno {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .header_uno__animacion-video {
    position: relative; }
    .header_uno__animacion-video__parrafo {
      font: bold calc(10% + 5vw) "Ibarra Real Nova", serif;
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translate(-50%, -50%);
      text-shadow: rgba(0, 0, 0, 0.8); }
    .header_uno__animacion-video__parrafo_dos {
      font: bold calc(-60% + 5vw) "Ibarra Real Nova", serif;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      text-shadow: 4px 4px 2px black; }
  .header_uno span:nth-child(2n+2) {
    font: bold 120% "Ibarra Real Nova", serif;
    animation-name: cambia_color;
    animation-duration: 2s;
    animation-iteration-count: infinite; }

@keyframes cambia_color {
  0% {
    text-shadow: 4px 4px 4px black, -4px -4px 4px #3306bd, 10px 15px 10px blue; }
  25% {
    text-shadow: -4px -4px 4px #3307b8, 5px 5px 10px blue; }
  50% {
    text-shadow: -4px -4px 4px #3007c2, 4px 4px 2px black; }
  75% {
    text-shadow: 5px 5px 10px blue,4px 4px 2px black; }
  100% {
    text-shadow: 5px 5px 10px blue, -4px -4px 4px #1f13c5, 4px 4px 2px black; } }

.video_head {
  width: 80%;
  border-radius: 1%;
  border-style: inset;
  display: block;
  margin: 1% auto 1% auto; }

.logo {
  height: 2%;
  width: auto; }

h3::first-letter {
  float: left;
  color: white;
  background: #020127;
  border: 1px solid #999999;
  padding: 2px;
  font-family: serif;
  margin-right: 5px;
  font-size: 50px;
  line-height: 50px; }

h3 {
  width: 75%;
  margin: auto;
  color: white;
  font-size: 100%; }

.banda_central {
  display: flex;
  flex-wrap: wrap;
  margin: 2%; }
  .banda_central img {
    width: calc(10% + 6vw);
    height: calc(9% + 5vw);
    border-radius: 20%;
    margin: auto auto auto 0;
    animation-name: scroll_left;
    animation-duration: 12s;
    animation-iteration-count: infinite; }
  .banda_central h3 {
    width: 40%;
    animation-name: scroll_right;
    animation-duration: 12s;
    animation-direction: reverse;
    animation-iteration-count: infinite; }

@keyframes scroll_left {
  0% {
    transform: translateX(20%);
    opacity: 0; }
  30% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes scroll_right {
  100% {
    transform: translateX(-20%);
    opacity: 0; }
  70% {
    transform: translateX(0%);
    opacity: 1; }
  0% {
    transform: translateX(0%);
    opacity: 1; } }

/* Letra capital*/
p::first-letter {
  float: left;
  color: white;
  background: #020127;
  border: 1px solid #999999;
  font-size: 80px;
  line-height: 60px;
  font-family: serif;
  margin-top: -1%; }

/*Fin de letra capital*/
/* Fin del header*/
/*-------------------------------------------------------------*/
/* Pagina 'home'*/
.h2_main_home {
  justify-items: stretch;
  align-items: center; }

.seccion__main {
  color: white;
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px; }

.p_sect {
  grid-row: 1/3;
  align-self: center;
  padding: 0% 10% 0% 5%; }

#foto_h1_3,
#foto_h2_3,
#foto_h3_3 {
  grid-column: 2/4;
  justify-self: center; }

.seccion__main img {
  width: 180px;
  height: 130px;
  object-fit: cover;
  border-style: inset;
  border-radius: 10%; }

.seccion__main img:hover {
  transform: scale(1.5);
  transition: all 0.2s linear; }

/* Fin de pagina -home*/
/*-------------------------------------------------------------*/
.zonte__yac__iframe {
  color: white;
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px; }

/*Estilos zonte_p1_yac -------------------------*/
.zonte__yac__iframe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px auto auto; }

.zonte__yac__iframe p {
  color: white;
  font-size: 100%;
  padding: 20px 40px 10px 40px; }

.zonte__yac__iframe p::first-letter {
  font-size: 40px;
  line-height: 50px;
  margin-top: -3px;
  margin-right: 2px; }

.p_yac {
  grid-column: span 2; }

.zonte__yac__iframe iframe {
  width: 80%;
  border-radius: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: inset; }

/*Fin estilos zonte_p1_yac -------------------------*/
/* Crid. Pagina de YAC -------------------------------*/
.side_bar {
  display: flex;
  flex-direction: column;
  background-color: #353758;
  align-items: center;
  justify-content: space-evenly; }
  .side_bar iframe {
    width: 80%;
    border-radius: 2%;
    border-style: inset; }
  .side_bar p {
    color: white;
    font-size: 80%; }
  .side_bar p::first-letter {
    font-size: 50px;
    line-height: 50px;
    margin-left: 18px; }

.dropdown {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1000; }

/*Crid. Fin pagina de YAC ---------------------*/
/*formulario Booststrap ------------------------*/
.form_zontes {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 98%; }

.form_zontes_side_bar {
  width: 60%;
  margin-right: 2%; }

.row {
  background-image: linear-gradient(rgba(116, 112, 124, 0.75), rgba(116, 112, 124, 0.75)), url("../imag/zontes_350x.jpg");
  padding: 2% 0 2% 0;
  border-radius: 2%; }

.form_zontes_form {
  display: flex;
  width: 40%; }

.form_zonte_form h3 {
  margin-bottom: 6%;
  margin-top: 2%; }

.row input:hover {
  background-color: #a89adb;
  transition: all 1s; }

.row input:focus {
  background-color: #abf1cb;
  transition: all 1s; }

/*Fin de formulario Booststrap ------------------------*/
/*Viajes Booststrap ------------------------*/
.viaje_zontes {
  display: flex;
  flex-direction: row-reverse;
  width: 90%; }

.v_zonte {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%; }
  .v_zonte h3 {
    margin-bottom: 2%;
    margin-top: 4%; }

/*Fin de viajes Booststrap ------------------------*/
@media only screen and (max-width: 700px) {
  h3::first-letter {
    font-size: 50px;
    line-height: 50px;
    width: 95%; }
  h3 {
    padding: 1.2rem;
    color: white;
    font-size: 80%; }
  h2 {
    font: bold 90% "Aclonica", sans-serif; }
  h1 {
    font: bold 200% "Ibarra Real Nova", serif;
    font-size: 40px; }
  .pie {
    font-size: 15px;
    padding-top: 1%; }
  .prop_padres, .seccion__main {
    display: flex;
    justify-content: center; }
  .seccion__main {
    flex-wrap: wrap; }
  /* Crid. Pagina home -------------------------------*/
  .main_home {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 15px auto auto auto auto;
    grid-template-areas: "h2_main_home" "seccion_main1_home" "seccion_main2_home" "seccion_main3_home" "side_bar";
    gap: 1em; }
  .form_zontes_side_bar {
    margin-left: 5%;
    margin-top: 1%; }
  .side_bar {
    display: flex;
    flex-direction: column;
    background-color: #353758;
    align-items: center; }
    .side_bar iframe {
      width: 50%;
      border-radius: 1%;
      margin-top: 5px;
      margin-bottom: 5px;
      border-style: inset; }
    .side_bar p {
      color: white;
      font-size: 80%; }
    .side_bar p::first-letter {
      font-size: 50px;
      line-height: 50px;
      margin-left: 18px; }
  .side_bar {
    grid-area: side_bar; }
  /* Fin Crid.*/
  .banda_central h3 {
    width: 90%;
    animation-name: scroll_right; }
  .banda_central img {
    width: calc(20% + 6vw);
    height: calc(16% + 5vw);
    margin: auto;
    animation-name: scroll_left; }
  @keyframes scroll_left {
    0% {
      transform: translateY(20%);
      opacity: 0; }
    30% {
      transform: translateY(0%);
      opacity: 1; }
    100% {
      transform: translateY(0%);
      opacity: 1; } }
  @keyframes scroll_right {
    100% {
      transform: translateY(-20%);
      opacity: 0; }
    70% {
      transform: translateY(0%);
      opacity: 1; }
    0% {
      transform: translateY(0%);
      opacity: 1; } }
  /* Fin Pagina home -------------------------------*/
  /* Crid. Pagina de YAC -------------------------------*/
  #mi_moto_yac {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 15px auto auto auto auto auto;
    grid-template-areas: "h2_yac" "zonte_p1_yac" "zonte_p2_yac" "zonte_p3_yac" "zonte_p4_yac" "side_bar";
    gap: 1em; }
  .side_bar {
    grid-area: side_bar; }
  .side_bar {
    display: flex;
    flex-direction: column;
    background-color: #353758;
    align-items: center; }
    .side_bar iframe {
      width: 50%;
      border-radius: 2%;
      margin-top: 5px;
      margin-bottom: 5px;
      border-style: inset; }
    .side_bar p {
      color: white;
      font-size: 80%;
      margin-bottom: 5px; }
    .side_bar p::first-letter {
      font-size: 50px;
      line-height: 50px;
      margin-left: 18px; }
  .zonte__yac__iframe p {
    color: white;
    font-size: 80%;
    padding: 20px 40px 10px 40px; }
  .zonte__yac__iframe p::first-letter {
    font-size: 40px;
    line-height: 50px;
    margin-top: -3px;
    margin-right: 2px; }
  .p_yac {
    grid-column: span 2; }
  .zonte__yac__iframe iframe {
    width: 80%;
    border-radius: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: inset; }
  .zonte__yac__iframe {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /*Crid. Fin pagina de YAC ---------------------*/
  /*Pagina formulario ----------------------------*/
  .form_zontes {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .form_zontes .form_zontes_side_bar {
    width: 100%; }
  /*Pagina viajes ----------------------------*/
  .viaje_zontes {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; }
  .viaje_zontes_side_bar {
    width: 100%;
    margin-top: 2%; }
  .v_zonte {
    margin: auto; } }

@media only screen and (min-width: 700px) and (max-width: 1020px) {
  .header_uno__parrafo_dos {
    font: bold 300% "Ibarra Real Nova", serif; }
  .header_uno__parrafo span:nth-child(2n+4) {
    font: bold 90% "Ibarra Real Nova", serif; }
  h3::first-letter {
    font-size: 70px;
    line-height: 50px; }
  h3 {
    padding: 20px 40px 10px 40px;
    color: white;
    font-size: 100%;
    text-align: center; }
  h2 {
    font: bold 120% "Aclonica", sans-serif; }
  .seccion__main {
    display: flex;
    flex-wrap: wrap; }
  /* Crid. Pagina home -------------------------------*/
  .main_home {
    display: grid;
    grid-template-columns: 28% auto;
    grid-auto-rows: 20px auto auto auto;
    grid-template-areas: "h2_main_home  h2_main_home" "side_bar  seccion_main1_home" "side_bar  seccion_main2_home" "side_bar   seccion_main3_home";
    gap: 1em; }
  .h2_main_home {
    grid-area: h2_main_home; }
  .side_bar {
    grid-area: side_bar; }
  .seccion_main1_home {
    grid-area: seccion_main1_home; }
  .seccion_main2_home {
    grid-area: seccion_main2_home; }
  .seccion_main3_home {
    grid-area: seccion_main3_home; }
  .seccion__main img {
    width: 150px;
    height: 100px; }
  .side_bar {
    display: flex;
    flex-direction: column;
    background-color: #353758;
    align-items: center; }
    .side_bar iframe {
      width: 80%;
      border-radius: 1%;
      margin-top: 5px;
      margin-bottom: 5px;
      border-style: inset; }
    .side_bar p {
      color: white;
      font-size: 80%; }
    .side_bar p::first-letter {
      font-size: 50px;
      line-height: 50px;
      margin-left: 18px; }
  .banda_central h3 {
    width: 90%;
    animation-name: scroll_right; }
  .banda_central img {
    width: calc(20% + 6vw);
    height: calc(16% + 5vw);
    margin: auto;
    animation-name: scroll_left; }
  @keyframes scroll_left {
    0% {
      transform: translateY(20%);
      opacity: 0; }
    30% {
      transform: translateY(0%);
      opacity: 1; }
    100% {
      transform: translateY(0%);
      opacity: 1; } }
  @keyframes scroll_right {
    100% {
      transform: translateY(-20%);
      opacity: 0; }
    70% {
      transform: translateY(0%);
      opacity: 1; }
    0% {
      transform: translateY(0%);
      opacity: 1; } }
  /* Crid. Fin Pagina home -------------------------------*/
  /* Crid. Pagina de YAC -------------------------------*/
  #mi_moto_yac {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-auto-rows: 20px auto auto auto auto;
    grid-template-areas: "h2_yac           h2_yac"         "side_bar     zonte_p1_yac"    "side_bar     zonte_p2_yac"    "side_bar     zonte_p3_yac"    "side_bar     zonte_p4_yac";
    gap: 1em; }
  .h2_yac {
    grid-area: h2_yac; }
  .side_bar {
    grid-area: side_bar; }
  /*Crid. Fin pagina de YAC ---------------------*/
  .seccion__main {
    display: grid;
    grid-template-columns: 48% 12% 12%;
    grid-template-rows: auto auto;
    justify-content: space-around;
    justify-items: end; }
  /*Pagina formulario ----------------------------*/
  .form_zontes {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .form_zontes_side_bar {
      display: flex;
      flex-direction: column;
      margin-top: 1%; }
  /*Pagina viajar ----------------------------*/
  .viaje_zontes {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .viaje_zontes_side_bar {
      align-items: center;
      width: 90%;
      margin-left: 10%; }
  .v_zonte {
    padding-bottom: 2%; }
  .seccion__main img {
    align-items: flex-end; } }

@media only screen and (min-width: 1020px) {
  /* Crid. Pagina home -------------------------------*/
  .main_home {
    display: grid;
    grid-template-columns: 20% auto;
    grid-auto-rows: 25px auto auto auto;
    grid-template-areas: "h2_main_home  h2_main_home " "side_bar      seccion_main1_home " "side_bar      seccion_main2_home " "side_bar      seccion_main3_home ";
    gap: 1em; }
  .h2_main_home {
    grid-area: h2_main_home; }
  .side_bar {
    grid-area: side_bar;
    margin-top: 1.5%; }
  /* Crid. Fin Pagina home -------------------------------*/
  /* Crid. Pagina de YAC -------------------------------*/
  #mi_moto_yac {
    grid-column-start: 2;
    grid-column-end: 3; }
  #mi_moto_yac {
    display: grid;
    grid-template-columns: 20% 79%;
    grid-auto-rows: 25px auto auto auto auto;
    grid-template-areas: "h2_yac              h2_yac"         "side_bar        zonte_p1_yac"    "side_bar        zonte_p2_yac"    "side_bar        zonte_p3_yac"    "side_bar        zonte_p4_yac";
    gap: 1em; }
  .h2_yac {
    grid-area: h2_yac; }
  .side_bar {
    grid-area: side_bar; }
  /*Crid. Fin pagina de YAC ---------------------*/
  .seccion__main {
    display: grid;
    grid-template-columns: 60% 15% 15%;
    grid-template-rows: 140px 140px; }
  /*Fin estilos zonte_p1_yac -------------------------*/ }
